@import url('https://fonts.googleapis.com/css?family=Mukta:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|Sriracha:100,200,300,400,500,600,700');

/*-----------------------------------------Background color */

.bg-colour{
    background-color: #dd85d7;
}

/*-----------------------------------------Header */


#logo{
    color: #95d0fc;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 300%;
    border: 5px solid #000;
    padding: 5px;
}

nav li{
    font-family: 'Mukta', sans-serif; 
    font-size: 150%;
}

a:hover {
    text-decoration: none;
}

/*-----------------------------------------Homepage styling */

.hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image{
    height: 420px;
    width: 100%;
    background: url("../images/fauxdjsheroimage.jpg") no-repeat center center;
    margin-top: 150px;
  }


.book-us-button {
font-family: "Sriracha", sans-serif;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    width: 150px;
    height: 150;
    border: solid #000 3px;
    border-radius: 50%;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #95d0fc;
    bottom: 50px;
    right: 250px;
    position: absolute;
}

section a{
    color: #000;
}

section a:hover{
    text-decoration: none;
    color: #dd85d7;
}

.paragraph-container{
    text-align: center;
    height: 200px;
    margin: 0%;
    margin-top: 0%;
    margin-bottom: 85px;
}

.paragraph{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    width: 30%;
    height: 100%;
    display: inline-block;
}

.col a{
    color: #95d0fc;
}

.col a:hover{
    color: #000;
}

/*-----------------------------------------Audio Page Styles */

.audio-container{
    margin: 2%;
    display: inline-block;
}

.faux-audio{
    margin-top: 150px;
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 5px;
    row-gap: 5px;
    text-align: center;
    margin-bottom: 80px;
}

.faux-audio img{
  width: 100%;
}

/*-----------------------------------------Dates Page Styles */

/*-------- Table layout help from https://www.w3schools.com/cssref/pr_tab_table-layout.asp */

.dates-table{
    width: 100%;
    height: 400px;
    margin: 0;
    margin-top: 150px;
    table-layout: fixed;
    margin-bottom: 85px;
}
.dates-table, th, td {
    color: #95d0fc;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    text-align: center;
    border: 3px solid #000;
}

/*-----------------------------------------Contact Page Styling */


.contact-form{
    margin: 0%;
    margin-top: 150px;
    display: inline-block;
    margin-bottom: 100px;
}

.contact-form-heading{
    font-family: 'Sriracha', sans-serif;
    margin-bottom: 30px;
}

.contact-form-button{
    margin-top: 30px;
}

/*-----------------------------------------Footer */

#icon-size{
    font-size: 48px;
    text-align: center;
}

/*-----------------------------------------Media Queries */


@media screen and (max-width:943px){
.book-us-button{
    left: 200px;
}

@media screen and (max-width:350px){
.book-us-button{
    left: 120px;
}

.paragraph{
    width: 90%;
}

@media screen and (max-width: 800px){
  .faux-audio{
    column-count: 2;
  }
}

@media screen and (max-width: 500px){
  .faux-audio{
    column-count: 1;
  }
}